# 编译后的可执行文件
*.exe
*.out
*.o
*.so

# 依赖文件（在Go项目中，go.mod和go.sum通常应该提交到版本控制）
# go.mod
# go.sum

# 测试文件
*_test.go
*.test

# 临时文件
*.tmp
*.temp

# 日志文件
*.log

# IDE配置文件
.vscode/
.idea/
*.swp
*.swo

# 输出文件夹
output_folder/
*.zip
excel-go（拆分）/
input（拆分）/
